Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

deploy: f3e56da3b719285095a59d5a0e822087e095b709
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

Update translation files
  src/i18n/locale/el.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Romanian)
  src/i18n/locale/ro.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/sq.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/ja.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/es.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/sr.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/fr.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/da.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/cs.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/ru.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/sv.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/ca.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/pl.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/nl.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Portuguese (Brazil))
  src/i18n/locale/pt_BR.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/hu.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/ar.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/pt_PT.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/it.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/nb_NO.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Chinese (Traditional))
  src/i18n/locale/zh_Hant.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Hebrew)
  src/i18n/locale/he.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/lt.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/de.json
Owners: @sct, @TheCatLady

feat(lang): added translation using Weblate (Hindi)
  src/i18n/locale/hi.json
Owners: @sct, @TheCatLady

feat(lang): translations update from Hosted Weblate (#2659)
  src/i18n/locale/ar.json
  src/i18n/locale/ca.json
  src/i18n/locale/cs.json
  src/i18n/locale/da.json
  src/i18n/locale/de.json
  src/i18n/locale/el.json
  src/i18n/locale/es.json
  src/i18n/locale/fr.json
  src/i18n/locale/he.json
  src/i18n/locale/hi.json
  src/i18n/locale/hu.json
  src/i18n/locale/it.json
  src/i18n/locale/ja.json
  src/i18n/locale/lt.json
  src/i18n/locale/nb_NO.json
  src/i18n/locale/nl.json
  src/i18n/locale/pl.json
  src/i18n/locale/pt_BR.json
  src/i18n/locale/pt_PT.json
  src/i18n/locale/ro.json
  src/i18n/locale/ru.json
  src/i18n/locale/sq.json
  src/i18n/locale/sr.json
  src/i18n/locale/sv.json
  src/i18n/locale/zh_Hans.json
  src/i18n/locale/zh_Hant.json
Owners: @sct, @TheCatLady

chore: set all-contributors bot skipCi option to false
  .all-contributorsrc
Owners: @TheCatLady, @samwiseg0, @danshilm

feat(lang): add Arabic and Lithuanian display languages
  src/context/LanguageContext.tsx
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

feat(lang): add Arabic and Lithuanian display languages (#2916)
  src/context/LanguageContext.tsx
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

chore(vscode): remove deprecated npm extension from recommendations
  .gitignore
  .vscode/extensions.json
Owners: @sct, @TheCatLady, @danshilm

chore(vscode): remove deprecated npm extension from recommendations (#2919) [skip ci]
  .gitignore
  .vscode/extensions.json
Owners: @sct, @TheCatLady, @danshilm

build(docker): skip cypress install & bump node version
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.local
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

build(docker): skip cypress install & bump node version (#2920)
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.local
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

build(docker): downgrade to node 16.16
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.local
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

build(docker): downgrade to node 16.16 (#2921)
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.local
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

chore(deps): update renovate.json to add grouping
  renovate.json
Owners: @sct, @TheCatLady, @danshilm

chore(deps): update renovate.json to disable major docker updates
  renovate.json
Owners: @sct, @TheCatLady, @danshilm

chore(deps): remove dependabot config
  .github/dependabot.yml
Owners: @sct, @TheCatLady, @danshilm

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm
