Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm

fix(oidc): use wellknown authorization endpoint
  server/routes/auth.ts
  server/utils/oidc.ts
Owners: @sct, @TheCatLady, @danshilm

fix(oidc login): handle reset loading state
  src/components/Login/OIDCLoginButton.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(oidc): allow paths in wellknown lookup
  server/utils/oidc.ts
  src/components/Login/OIDCLoginButton.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(oidc): allow insecure state cookie when using http
  server/routes/auth.ts
Owners: @sct, @TheCatLady, @danshilm

fix(oidc): look at protocol to decide callback protocol
  server/routes/auth.ts
  server/utils/oidc.ts
Owners: @sct, @TheCatLady, @danshilm

fix: update API docs to allow 'all' seasons value
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

fix: update API docs to allow 'all' seasons value (#3073)
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

deploy: 1dfa9431a95e7e2a1843746c2473d8a06f03e184
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

fix: added deep links to issues and status badges (#3065)
  src/components/IssueDetails/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/TvDetails/index.tsx
  src/hooks/useDeepLinks.ts
Owners: @sct, @TheCatLady, @danshilm

chore(release): 1.30.1
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  fc79fdabf4cf4b7c67bd98096bc0d0cb88b920a0
Owners: @sct, @TheCatLady, @danshilm

update CI
  .github/workflows/ci.yml
  .github/workflows/cypress.yml
  .github/workflows/deploy_docs.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/snap.yaml
  .github/workflows/support.yml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

add test build
  .github/workflows/test.yml
Owners: @sct, @TheCatLady, @danshilm

remove languageprofile
  cypress/e2e/discover.cy.ts
  overseerr-api.yml
  server/api/servarr/sonarr.ts
  server/entity/MediaRequest.ts
  server/interfaces/api/requestInterfaces.ts
  server/interfaces/api/serviceInterfaces.ts
  server/lib/settings.ts
  server/routes/request.ts
  server/routes/service.ts
  server/routes/settings/sonarr.ts
  src/components/RequestBlock/index.tsx
  src/components/RequestModal/AdvancedRequester/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/Settings/SonarrModal/index.tsx
  src/hooks/useRequestOverride.ts
Owners: @sct, @TheCatLady, @danshilm

.
  .github/workflows/test.yml
Owners: @sct, @TheCatLady, @danshilm

feat: custom image proxy
  .gitignore
  server/index.ts
  server/lib/imageproxy.ts
  server/routes/imageproxy.ts
  src/components/Common/CachedImage/index.tsx
  src/components/CompanyCard/index.tsx
  src/components/MediaSlider/ShowMoreCard/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: make sure cachedimage component only works with tmdb urls
  src/components/Common/CachedImage/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: only parse image urls that start with http
  src/components/Common/CachedImage/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: job to cleanup stale images and cache data on settings page
  server/interfaces/api/settingsInterfaces.ts
  server/job/schedule.ts
  server/lib/imageproxy.ts
  server/lib/settings.ts
  server/routes/settings/index.ts
  src/components/Settings/SettingsJobsCache/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct schedule comment
  server/job/schedule.ts
Owners: @sct, @TheCatLady, @danshilm

fix: add i18n strings
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

remove another language reference
  src/components/RequestModal/AdvancedRequester/index.tsx
Owners: @sct, @TheCatLady, @danshilm

.
  .github/workflows/test.yml
Owners: @sct, @TheCatLady, @danshilm

always lint
  .github/workflows/test.yml
Owners: @sct, @TheCatLady, @danshilm

more language removal
  src/components/RequestModal/AdvancedRequester/index.tsx
Owners: @sct, @TheCatLady, @danshilm

even more language removal
  src/components/RequestModal/AdvancedRequester/index.tsx
Owners: @sct, @TheCatLady, @danshilm

no more arm
  .github/workflows/ci.yml
  .github/workflows/test.yml
Owners: @sct, @TheCatLady, @danshilm

fix: updated some string and added docs
  docs/using-overseerr/settings/README.md
  overseerr-api.yml
  src/components/Settings/SettingsMain.tsx
  src/i18n/locale/en.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

feat: custom image proxy (#3056)
  .gitignore
  docs/using-overseerr/settings/README.md
  overseerr-api.yml
  server/index.ts
  server/interfaces/api/settingsInterfaces.ts
  server/job/schedule.ts
  server/lib/imageproxy.ts
  server/lib/settings.ts
  server/routes/imageproxy.ts
  server/routes/settings/index.ts
  src/components/Common/CachedImage/index.tsx
  src/components/CompanyCard/index.tsx
  src/components/MediaSlider/ShowMoreCard/index.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

deploy: 500cd1f872942923d2b9c3b835e6329e335d4a3f
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

Update semantic-release to use proper arg for git sha
  package.json
Owners: @sct, @TheCatLady, @danshilm

build: update semantic-release to use proper arg for git sha (#3075)
  package.json
Owners: @sct, @TheCatLady, @danshilm

feat(lang): add Croatian display language
  src/context/LanguageContext.tsx
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

feat(lang): add Croatian display language (#3041)
  src/context/LanguageContext.tsx
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: move TvRequestModal into `TvRequestModal/index.tsx`
  src/components/RequestModal/TvRequestModal/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: extract `<TvSeasonRow />`
  src/components/RequestModal/TvRequestModal/TvSeasonRow.tsx
Owners: @sct, @TheCatLady, @danshilm

feat(sonarr): implement request future seasons
  server/api/servarr/sonarr.ts
  src/components/RequestModal/TvRequestModal/TvSeasonRow.tsx
  src/components/RequestModal/TvRequestModal/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: misc tweaks
  src/components/RequestModal/TvRequestModal/TvSeasonRow.tsx
  src/components/RequestModal/TvRequestModal/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: improved PTR scrolling performance
  src/components/PullToRefresh/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: improved PTR scrolling performance (#3095)
  src/components/PullToRefresh/index.tsx
Owners: @sct, @TheCatLady, @danshilm
