Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

refactor: slideover redesign
  src/components/Common/SlideOver/index.tsx
  src/components/ManageSlideOver/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: hide scrollbar on new slideover
  src/components/Common/SlideOver/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: slideover redesign (#2973)
  src/components/Common/SlideOver/index.tsx
  src/components/ManageSlideOver/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: watch data not required to show Tautulli button
  src/components/ManageSlideOver/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: watch data not required to show Tautulli button (#2976)
  src/components/ManageSlideOver/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct safe margin for slideover
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/Common/SlideOver/index.tsx
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

fix: correct safe margin for slideover (#2977)
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/Common/SlideOver/index.tsx
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

fix: transition animation
  package.json
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/Common/Modal/index.tsx
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/IssueModal/index.tsx
  src/components/Layout/LanguagePicker/index.tsx
  src/components/Layout/Sidebar/index.tsx
  src/components/Login/index.tsx
  src/components/RequestModal/index.tsx
  src/components/Settings/RadarrModal/index.tsx
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsServices.tsx
  src/components/Settings/SonarrModal/index.tsx
  src/components/StatusChecker/index.tsx
  src/components/TitleCard/index.tsx
  src/components/Toast/index.tsx
  src/components/Transition/index.tsx
  src/components/UserList/index.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: transition animation (#2974)
  package.json
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/Common/Modal/index.tsx
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/IssueModal/index.tsx
  src/components/Layout/LanguagePicker/index.tsx
  src/components/Layout/Sidebar/index.tsx
  src/components/Login/index.tsx
  src/components/RequestModal/index.tsx
  src/components/Settings/RadarrModal/index.tsx
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsServices.tsx
  src/components/Settings/SonarrModal/index.tsx
  src/components/StatusChecker/index.tsx
  src/components/TitleCard/index.tsx
  src/components/Toast/index.tsx
  src/components/Transition/index.tsx
  src/components/UserList/index.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: issues and login page still had incorrect animations
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/IssueDescription/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/Layout/LanguagePicker/index.tsx
  src/components/Login/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: issues and login page still had incorrect animations (#2979)
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/IssueDescription/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/Layout/LanguagePicker/index.tsx
  src/components/Login/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: check perms to view watchlist slider on user profile
  src/components/UserProfile/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: check perms to view watchlist slider on user profile (#2980)
  src/components/UserProfile/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: username will not show undefined on cancel or delete
  src/components/UserList/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct spacing on season header badges
  src/components/AirDateBadge/index.tsx
  src/components/ManageSlideOver/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: correct spacing on season header badges (#2983)
  src/components/AirDateBadge/index.tsx
  src/components/ManageSlideOver/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: username will not show undefined on cancel or delete
  src/components/UserList/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: username will not show undefined on cancel or delete (#2982)
  src/components/UserList/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: clicking outside modal closes modal again
  src/components/Common/Modal/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: make lgtm happy
  src/components/RequestModal/TvRequestModal.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: clicking outside modal closes modal again (#2984)
  src/components/Common/Modal/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: settings log modal when closing
  src/components/Settings/SettingsLogs/index.tsx
Owners: @sct, @TheCatLady, @danshilm

Run as node user
  Dockerfile
Owners: @sct, @TheCatLady, @danshilm

fix: settings log modal when closing (#2985)
  src/components/Settings/SettingsLogs/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: modal redesign and fix for transitions
  package.json
  src/components/Common/Alert/index.tsx
  src/components/Common/Button/index.tsx
  src/components/Common/Modal/index.tsx
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/IssueModal/CreateIssueModal/index.tsx
  src/components/JSONEditor/index.tsx
  src/components/RequestModal/AdvancedRequester/index.tsx
  src/components/RequestModal/CollectionRequestModal.tsx
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/QuotaDisplay/index.tsx
  src/components/RequestModal/SearchByNameModal/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/Settings/Notifications/NotificationsWebhook/index.tsx
  src/components/Settings/RadarrModal/index.tsx
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsServices.tsx
  src/components/Settings/SonarrModal/index.tsx
  src/components/StatusChecker/index.tsx
  src/components/UserList/BulkEditModal.tsx
  src/components/UserList/PlexImportModal.tsx
  src/components/UserList/index.tsx
  src/i18n/locale/en.json
  src/styles/globals.css
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: pr suggestions
  package.json
  src/components/RequestModal/CollectionRequestModal.tsx
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/UserList/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

test: fix test for user delete modal
  cypress/e2e/user/user-list.cy.ts
Owners: @sct, @TheCatLady, @danshilm

fix: pr suggestions
  src/components/Common/Alert/index.tsx
  src/components/Common/SlideOver/index.tsx
  src/components/IssueModal/CreateIssueModal/index.tsx
  src/components/RequestModal/AdvancedRequester/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: use text-overseerr class where possible
  src/components/Common/Header/index.tsx
  src/components/Common/SlideOver/index.tsx
  src/components/UserProfile/ProfileHeader/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: pr suggestions
  src/components/Common/Button/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestModal/AdvancedRequester/index.tsx
  src/components/Settings/SettingsAbout/index.tsx
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: adjust warning button
  src/components/Common/Button/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: more style adjustments
  src/components/Common/Badge/index.tsx
  src/components/Common/Button/index.tsx
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/RequestBlock/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: bring input-action style inline
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

fix: remove unneeded classes
  src/components/Settings/SettingsJobsCache/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: modal redesign and fix for transitions (#2987)
  cypress/e2e/user/user-list.cy.ts
  package.json
  src/components/Common/Alert/index.tsx
  src/components/Common/Badge/index.tsx
  src/components/Common/Button/index.tsx
  src/components/Common/ButtonWithDropdown/index.tsx
  src/components/Common/Header/index.tsx
  src/components/Common/Modal/index.tsx
  src/components/Common/SlideOver/index.tsx
  src/components/IssueDetails/IssueComment/index.tsx
  src/components/IssueDetails/index.tsx
  src/components/IssueModal/CreateIssueModal/index.tsx
  src/components/JSONEditor/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestBlock/index.tsx
  src/components/RequestModal/AdvancedRequester/index.tsx
  src/components/RequestModal/CollectionRequestModal.tsx
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/QuotaDisplay/index.tsx
  src/components/RequestModal/SearchByNameModal/index.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/Settings/Notifications/NotificationsWebhook/index.tsx
  src/components/Settings/RadarrModal/index.tsx
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsAbout/index.tsx
  src/components/Settings/SettingsJobsCache/index.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsServices.tsx
  src/components/Settings/SonarrModal/index.tsx
  src/components/StatusChecker/index.tsx
  src/components/TvDetails/index.tsx
  src/components/UserList/BulkEditModal.tsx
  src/components/UserList/PlexImportModal.tsx
  src/components/UserList/index.tsx
  src/components/UserProfile/ProfileHeader/index.tsx
  src/i18n/locale/en.json
  src/styles/globals.css
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

feat(login): allow Plex OAuth to be disabled when reqs are met
  docs/using-overseerr/settings/README.md
  docs/using-overseerr/users/README.md
  overseerr-api.yml
  server/interfaces/api/settingsInterfaces.ts
  server/lib/settings.ts
  server/routes/auth.ts
  src/components/Login/index.tsx
  src/components/NotificationTypeSelector/NotificationType/index.tsx
  src/components/NotificationTypeSelector/index.tsx
  src/components/PermissionOption/index.tsx
  src/components/QuotaSelector/index.tsx
  src/components/Settings/SettingsUsers/index.tsx
  src/components/UserList/index.tsx
  src/components/UserProfile/UserSettings/UserGeneralSettings/index.tsx
  src/components/UserProfile/UserSettings/UserPasswordChange/index.tsx
  src/context/SettingsContext.tsx
  src/i18n/locale/en.json
  src/pages/_app.tsx
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

refactor: clean up Login component
  src/components/Login/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correctly set opacity when checkbox disabled
  src/components/Settings/SettingsUsers/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: consistently style login page
  src/components/Common/Accordion/index.tsx
  src/components/Login/index.tsx
Owners: @sct, @TheCatLady, @danshilm

docs: add app title req for disabling Plex OAuth
  docs/using-overseerr/settings/README.md
Owners: @TheCatLady, @samwiseg0, @danshilm

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm
