Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

feat(lang): translated using Weblate (Swedish)
  src/i18n/locale/sv.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Croatian)
  src/i18n/locale/hr.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Dutch)
  src/i18n/locale/nl.json
Owners: @sct, @TheCatLady

fix(media): use dyanmic db-aware columns
  server/entity/Media.ts
Owners: @sct, @TheCatLady, @danshilm

feat(lang): translations update from Hosted Weblate (#3026)
  src/i18n/locale/hr.json
  src/i18n/locale/hu.json
  src/i18n/locale/nl.json
  src/i18n/locale/sv.json
Owners: @sct, @TheCatLady

chore(release): 1.30.0
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  4a5421a9ba9825661f48c1344a384d275b9a843d
Owners: @sct, @TheCatLady, @danshilm

fix(ui): hide null dates in episodes list
  server/api/themoviedb/interfaces.ts
  server/models/Tv.ts
  src/components/TvDetails/Season/index.tsx
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(ui): hide null dates in episodes list (#3035)
  server/api/themoviedb/interfaces.ts
  server/models/Tv.ts
  src/components/TvDetails/Season/index.tsx
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(ui): hide available media on person page
  server/routes/person.ts
Owners: @sct, @TheCatLady, @danshilm

fix: remove backdrop-blur class from warning buttons
  src/components/Common/Button/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: remove backdrop-blur class from warning buttons (#3037)
  src/components/Common/Button/index.tsx
Owners: @sct, @TheCatLady, @danshilm

docs(proxy): update `sub_filter` for subfolder
  docs/extending-overseerr/reverse-proxy.md
Owners: @TheCatLady, @samwiseg0, @danshilm

docs(proxy): update `sub_filter` for subfolder (#3046) [skip ci]
  docs/extending-overseerr/reverse-proxy.md
Owners: @TheCatLady, @samwiseg0, @danshilm

fix: sidebar close button placement when using PWA
  src/components/Layout/Sidebar/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: sidebar close button placement when using PWA (#3045)
  src/components/Layout/Sidebar/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: cacheImages label had incorrect for attribute
  src/components/Settings/SettingsMain.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: refactor out popup and use for oidc
  docs/extending-overseerr/reverse-proxy.md
  src/components/Login/OIDCLoginButton.tsx
  src/utils/oidc.ts
  src/utils/plex.ts
  src/utils/popupWindow.ts
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

feat: oidc support
  package.json
  server/index.ts
  server/interfaces/api/settingsInterfaces.ts
  server/lib/settings.ts
  server/routes/auth.ts
  server/utils/oidc.ts
  src/components/Login/OIDCLoginButton.tsx
  src/components/Login/index.tsx
  src/components/Settings/SettingsUsers/index.tsx
  src/context/SettingsContext.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

feat(oidc): create user if it doesn't exist
  server/routes/auth.ts
Owners: @sct, @TheCatLady, @danshilm

chore(translations): extract strings
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

docs: add api documentation for oidc endpoints
  overseerr-api.yml
  server/index.ts
Owners: @sct, @TheCatLady, @danshilm

fix(docs): fix typo in docs
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

feat(oidc): add form validation for oidc settings
  src/components/Settings/SettingsUsers/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: add missing initial values to public settings
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(oidc): invalidate when email not verified
  server/routes/auth.ts
Owners: @sct, @TheCatLady, @danshilm

fix: review comments
  server/routes/auth.ts
  src/components/Login/index.tsx
  src/components/Settings/SettingsUsers/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(imports): fix invalid imports
  src/components/Login/OIDCLoginButton.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(i18n): update extract
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: invalid import
  server/utils/oidc.ts
Owners: @sct, @TheCatLady, @danshilm

fix: suggested changes
  src/components/CollectionDetails/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/Season/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(jobs): set watchlist sync to short interval
  server/job/schedule.ts
Owners: @sct, @TheCatLady, @danshilm

fix(ui): disable status badge tooltip for collections
  src/components/CollectionDetails/index.tsx
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(ui): set correct label for image cache settings
  src/components/Settings/SettingsMain.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: suggested changes
  server/models/Tv.ts
  src/components/Common/Tooltip/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/Season/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(ui): replace empty space when no episodes in season
  server/api/themoviedb/interfaces.ts
  server/models/Tv.ts
  src/components/TvDetails/Season/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(ui): hide available media on person page
  server/routes/person.ts
Owners: @sct, @TheCatLady, @danshilm

chore: run i18n:extract
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(ui): minor fixes (#3036)
  server/api/themoviedb/interfaces.ts
  server/job/schedule.ts
  server/models/Tv.ts
  server/routes/person.ts
  src/components/Common/Tooltip/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/Season/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: added deep links to issues and status badges
  src/components/IssueDetails/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/TvDetails/index.tsx
  src/hooks/useDeepLinks.ts
Owners: @sct, @TheCatLady, @danshilm

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm
