Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm

chore(deps): bundle github-action updates
  renovate.json
Owners: @sct, @TheCatLady, @danshilm

build(deps): bump dependencies
  package.json
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

chore: one more
  server/routes/user/index.ts
Owners: @sct, @TheCatLady, @danshilm

build(deps): bump dependencies
  package.json
  server/datasource.ts
  server/entity/Media.ts
  server/entity/MediaRequest.ts
  server/entity/User.ts
  server/index.ts
  server/lib/notifications/agents/discord.ts
  server/lib/notifications/agents/email.ts
  server/lib/notifications/agents/pushbullet.ts
  server/lib/notifications/agents/pushover.ts
  server/lib/notifications/agents/telegram.ts
  server/lib/notifications/agents/webpush.ts
  server/lib/scanners/baseScanner.ts
  server/lib/scanners/plex/index.ts
  server/lib/scanners/sonarr/index.ts
  server/middleware/auth.ts
  server/routes/auth.ts
  server/routes/issue.ts
  server/routes/issueComment.ts
  server/routes/media.ts
  server/routes/request.ts
  server/routes/settings/index.ts
  server/routes/user/index.ts
  server/routes/user/usersettings.ts
  server/subscriber/IssueCommentSubscriber.ts
  server/subscriber/MediaSubscriber.ts
  server/utils/dateHelpers.ts
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

chore(typeorm): use object literal for find options
  server/entity/Media.ts
  server/entity/MediaRequest.ts
  server/index.ts
  server/lib/scanners/plex/index.ts
  server/routes/auth.ts
  server/routes/issue.ts
  server/routes/request.ts
  server/routes/settings/index.ts
  server/routes/user/index.ts
  server/subscriber/IssueCommentSubscriber.ts
Owners: @sct, @TheCatLady, @danshilm

chore: run yarn install
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

refactor(typeorm): use getRepository from dataSource
  server/datasource.ts
  server/entity/Media.ts
  server/entity/MediaRequest.ts
  server/entity/User.ts
  server/index.ts
  server/lib/notifications/agents/discord.ts
  server/lib/notifications/agents/email.ts
  server/lib/notifications/agents/pushbullet.ts
  server/lib/notifications/agents/pushover.ts
  server/lib/notifications/agents/telegram.ts
  server/lib/notifications/agents/webpush.ts
  server/lib/scanners/baseScanner.ts
  server/lib/scanners/plex/index.ts
  server/lib/scanners/sonarr/index.ts
  server/middleware/auth.ts
  server/routes/auth.ts
  server/routes/issue.ts
  server/routes/issueComment.ts
  server/routes/media.ts
  server/routes/request.ts
  server/routes/settings/index.ts
  server/routes/user/index.ts
  server/routes/user/usersettings.ts
  server/subscriber/IssueCommentSubscriber.ts
  server/subscriber/MediaSubscriber.ts
Owners: @sct, @TheCatLady, @danshilm

fix(tests): update cypress mock db
  server/scripts/prepareTestDb.ts
Owners: @sct, @TheCatLady, @danshilm

fix(typeorm): make function call instead of assignment
  server/datasource.ts
Owners: @sct, @TheCatLady, @danshilm

build(deps): bump dependencies (#2796)
  package.json
  server/datasource.ts
  server/entity/Media.ts
  server/entity/MediaRequest.ts
  server/entity/User.ts
  server/index.ts
  server/lib/notifications/agents/discord.ts
  server/lib/notifications/agents/email.ts
  server/lib/notifications/agents/pushbullet.ts
  server/lib/notifications/agents/pushover.ts
  server/lib/notifications/agents/telegram.ts
  server/lib/notifications/agents/webpush.ts
  server/lib/scanners/baseScanner.ts
  server/lib/scanners/plex/index.ts
  server/lib/scanners/sonarr/index.ts
  server/middleware/auth.ts
  server/routes/auth.ts
  server/routes/issue.ts
  server/routes/issueComment.ts
  server/routes/media.ts
  server/routes/request.ts
  server/routes/settings/index.ts
  server/routes/user/index.ts
  server/routes/user/usersettings.ts
  server/scripts/prepareTestDb.ts
  server/subscriber/IssueCommentSubscriber.ts
  server/subscriber/MediaSubscriber.ts
  server/utils/dateHelpers.ts
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

feat(ui): revalidate requests slider on discover page
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/TvRequestModal.tsx
Owners: @sct, @TheCatLady, @danshilm

build(snap): add architectures to snapcraft.yaml
  .github/workflows/release.yml
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

build(snap): add architectures to snapcraft.yaml (#2938) [skip ci]
  .github/workflows/release.yml
  snap/snapcraft.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

chore(deps): update renovate config to group node container deps
  renovate.json
Owners: @sct, @TheCatLady, @danshilm

chore(deps): update renovate config to group node container deps (#2939) [skip ci]
  renovate.json
Owners: @sct, @TheCatLady, @danshilm

chore(deps): update dependencies
  .gitignore
  package.json
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

chore(deps): update dependencies (#2942)
  .gitignore
  package.json
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: prepare title as one string to fix multiple title element error
  src/components/Common/PageTitle/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: add polyfilling for intl on server side
  package.json
  src/pages/_app.tsx
  src/utils/polyfillIntl.ts
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: better ordering of RequestButton options & properly handle failed requests
  overseerr-api.yml
  server/constants/media.ts
  server/entity/MediaRequest.ts
  server/routes/request.ts
  src/components/RequestBlock/index.tsx
  src/components/RequestButton/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/RequestList/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: appease prettier
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

fix: view 4k request should be immediately above approve/decline 4k request options
  src/components/RequestButton/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: better ordering of RequestButton options & properly handle failed requests (#2944)
  overseerr-api.yml
  server/constants/media.ts
  server/entity/MediaRequest.ts
  server/routes/request.ts
  src/components/RequestBlock/index.tsx
  src/components/RequestButton/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/RequestList/index.tsx
Owners: @sct, @TheCatLady, @danshilm

deploy: c143c0b8d285896a7ad5f42f2a7dc1e38b55cc3a
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

build(snap): try re-enabling snap workflow
  .github/workflows/snap.yaml
Owners: @samwiseg0

build: try adding a safe directory exception?
  .github/workflows/snap.yaml
  snap/snapcraft.yaml
Owners: @samwiseg0

build(snap): disable cypress binary install
  snap/snapcraft.yaml
Owners: @samwiseg0

build(snap): add yarnrc to force frozen lockfile and timeout arguments
  snap/snapcraft.yaml
Owners: @samwiseg0

build(snap): add back in release snap workflow
  .github/workflows/release.yml
  .github/workflows/snap.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

build(snap): revert back to only running on dev branch
  .github/workflows/snap.yaml
Owners: @samwiseg0

build(snap): re-enable snap workflow (#2945)
  .github/workflows/snap.yaml
  snap/snapcraft.yaml
Owners: @samwiseg0

chore(deps): also bump node.js in snapcraft.yaml
  snap/snapcraft.yaml
Owners: @samwiseg0

feat(ui): revalidate requests slider on discover page (#2818)
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/TvRequestModal.tsx
Owners: @sct, @TheCatLady, @danshilm

ci: don't lint/test in snap publish workflow
  .github/workflows/snap.yaml
Owners: @samwiseg0

ci: don't lint/test in snap publish workflow (#2948) [skip ci]
  .github/workflows/snap.yaml
Owners: @samwiseg0

feat: user delete modal shows username and requires confirmation
  cypress/e2e/user/user-list.cy.ts
  src/components/UserList/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: user delete modal shows username and requires confirmation (#2779)
  cypress/e2e/user/user-list.cy.ts
  src/components/UserList/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: add foundation for tooltips
  .eslintrc.js
  package.json
  src/components/Common/Tooltip/index.tsx
  src/components/MovieDetails/index.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

fix: add lang
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat(perms): add new permission for viewing recently added media
  server/lib/permissions.ts
  src/components/Discover/index.tsx
  src/components/PermissionEdit/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm
