Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

test: update login test to check for Trending instead of Recently Added
  cypress/e2e/login.cy.ts
Owners: @sct, @TheCatLady, @danshilm

fix: avoid conflict with new watchlist perms
  server/lib/permissions.ts
Owners: @sct, @TheCatLady, @danshilm

feat(perms): add new permission for viewing recently added media (#2129)
  cypress/e2e/login.cy.ts
  server/lib/permissions.ts
  src/components/Discover/index.tsx
  src/components/PermissionEdit/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(frontend): display additional details for requests without valid TMDb IDs
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/i18n/globalMessages.ts
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: status for broken requests in request list
  src/components/RequestList/RequestItem/index.tsx
  src/i18n/globalMessages.ts
Owners: @sct, @TheCatLady, @danshilm

fix: display request user/status instead of external IDs on request cards
  src/components/RequestCard/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: add serviceUrl to status badges
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(lang): update error message to reflect possibility of transient network issues
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: check for new FAILED request status
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
Owners: @sct, @TheCatLady, @danshilm

test: add cypress test for request w/ invalid TMDb ID
  cypress/e2e/discover.cy.ts
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: also handle available media without valid TMDb IDs
  cypress/e2e/discover.cy.ts
  src/components/Discover/index.tsx
  src/components/TitleCard/ErrorCard.tsx
  src/components/TitleCard/TmdbTitleCard.tsx
  src/components/TitleCard/index.tsx
  src/components/UserProfile/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

refactor: define Discover API endpoints for recently added / recent requests in one place
  src/components/Discover/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/TitleCard/ErrorCard.tsx
Owners: @sct, @TheCatLady, @danshilm

test: fix mocked recently added API request timestamps
  cypress/e2e/discover.cy.ts
Owners: @sct, @TheCatLady, @danshilm

fix: revert to writing out strings for API endpoints
  src/components/Discover/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestModal/MovieRequestModal.tsx
  src/components/RequestModal/TvRequestModal.tsx
  src/components/TitleCard/ErrorCard.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: remove unneeded React import
  src/components/TitleCard/ErrorCard.tsx
Owners: @sct, @TheCatLady, @danshilm

test: run visit after intercept (75db087ea74dd18c75af4c0a77e8a3ad9313a21b)
  cypress/e2e/discover.cy.ts
Owners: @sct, @TheCatLady, @danshilm

fix(frontend): better request/media cards for items without valid TMDb IDs (#2181)
  cypress/e2e/discover.cy.ts
  src/components/Discover/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/TitleCard/ErrorCard.tsx
  src/components/TitleCard/TmdbTitleCard.tsx
  src/components/TitleCard/index.tsx
  src/components/UserProfile/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(lang): correct capitalization of 'TMDB'
  CONTRIBUTING.md
  cypress/e2e/discover.cy.ts
  docs/extending-overseerr/third-party.md
  docs/support/faq.md
  docs/using-overseerr/notifications/webhooks.md
  overseerr-api.yml
  server/api/animelist.ts
  server/api/servarr/radarr.ts
  server/api/themoviedb/index.ts
  server/lib/scanners/baseScanner.ts
  server/lib/scanners/plex/index.ts
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/TitleCard/ErrorCard.tsx
  src/i18n/locale/en.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

fix(lang): correct capitalization of 'TMDB' (#2953)
  CONTRIBUTING.md
  cypress/e2e/discover.cy.ts
  docs/extending-overseerr/third-party.md
  docs/support/faq.md
  docs/using-overseerr/notifications/webhooks.md
  overseerr-api.yml
  server/api/animelist.ts
  server/api/servarr/radarr.ts
  server/api/themoviedb/index.ts
  server/lib/scanners/baseScanner.ts
  server/lib/scanners/plex/index.ts
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/TitleCard/ErrorCard.tsx
  src/i18n/locale/en.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

deploy: 9021696cf085bd6387701811e64466e14893d1db
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

feat(lang): translated using Weblate (Greek)
  src/i18n/locale/el.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Japanese)
  src/i18n/locale/ja.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Albanian)
  src/i18n/locale/sq.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Spanish)
  src/i18n/locale/es.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (French)
  src/i18n/locale/fr.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Polish)
  src/i18n/locale/pl.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Russian)
  src/i18n/locale/ru.json
Owners: @sct, @TheCatLady

Update translation files
  src/i18n/locale/ar.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Catalan)
  src/i18n/locale/ca.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Swedish)
  src/i18n/locale/sv.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Czech)
  src/i18n/locale/cs.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Portuguese (Brazil))
  src/i18n/locale/pt_BR.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Italian)
  src/i18n/locale/it.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Portuguese (Portugal))
  src/i18n/locale/pt_PT.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Chinese (Simplified))
  src/i18n/locale/zh_Hans.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Danish)
  src/i18n/locale/da.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Dutch)
  src/i18n/locale/nl.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Hungarian)
  src/i18n/locale/hu.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (German)
  src/i18n/locale/de.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Chinese (Traditional))
  src/i18n/locale/zh_Hant.json
Owners: @sct, @TheCatLady

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm
