Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

feat(frontend): add more tooltips (#2961)
  src/components/Common/Tooltip/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/Settings/Notifications/NotificationsEmail.tsx
  src/components/Settings/SettingsBadge.tsx
  src/components/Settings/SettingsLogs/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/components/Settings/SettingsPlex.tsx
  src/components/TvDetails/index.tsx
  src/components/UserProfile/UserSettings/UserNotificationSettings/UserNotificationsEmail.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: view other users' watchlists
  overseerr-api.yml
  server/interfaces/api/discoverInterfaces.ts
  server/interfaces/api/userInterfaces.ts
  server/lib/permissions.ts
  server/routes/discover.ts
  server/routes/user/index.ts
  src/components/Discover/DiscoverWatchlist/index.tsx
  src/components/PermissionEdit/index.tsx
  src/components/UserProfile/index.tsx
  src/pages/profile/watchlist.tsx
  src/pages/users/[userId]/watchlist.tsx
Owners: @sct, @TheCatLady, @danshilm

test: add cypress tests
  cypress/e2e/discover.cy.ts
  cypress/e2e/user/profile.cy.ts
  cypress/fixtures/watchlist.json
  server/scripts/prepareTestDb.ts
  src/components/Layout/UserDropdown/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat(lang): translation keys
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

refactor: yarn format
  src/pages/users/[userId]/watchlist.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: manage requests perm is parent of view watchlist perm
  server/routes/user/index.ts
  src/components/UserProfile/index.tsx
  src/pages/users/[userId]/watchlist.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: view other users' watchlists (#2959)
  cypress/e2e/discover.cy.ts
  cypress/e2e/user/profile.cy.ts
  cypress/fixtures/watchlist.json
  overseerr-api.yml
  server/interfaces/api/discoverInterfaces.ts
  server/interfaces/api/userInterfaces.ts
  server/lib/permissions.ts
  server/routes/discover.ts
  server/routes/user/index.ts
  server/scripts/prepareTestDb.ts
  src/components/Discover/DiscoverWatchlist/index.tsx
  src/components/Layout/UserDropdown/index.tsx
  src/components/PermissionEdit/index.tsx
  src/components/UserProfile/index.tsx
  src/i18n/locale/en.json
  src/pages/profile/watchlist.tsx
  src/pages/users/[userId]/watchlist.tsx
Owners: @sct, @TheCatLady, @danshilm

deploy: 0839718806a04ee094445dd7276bba7f49424ab7
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

fix(lang): manage movie -> manage series
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix(lang): manage movie -> manage series (#2963)
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat(lang): translated using Weblate (French)
  src/i18n/locale/fr.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Portuguese (Brazil))
  src/i18n/locale/pt_BR.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (German)
  src/i18n/locale/de.json
Owners: @sct, @TheCatLady

feat(lang): translated using Weblate (Chinese (Traditional))
  src/i18n/locale/zh_Hant.json
Owners: @sct, @TheCatLady

feat(lang): translations update from Hosted Weblate (#2958)
  src/i18n/locale/de.json
  src/i18n/locale/fr.json
  src/i18n/locale/pt_BR.json
  src/i18n/locale/zh_Hant.json
Owners: @sct, @TheCatLady

feat: restore option to cache and optimize images locally
  src/components/Settings/SettingsMain.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: restore option to cache and optimize images locally (#2964)
  src/components/Settings/SettingsMain.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: use image.tmdb.org for setup/login backdrop images
  src/components/Login/index.tsx
  src/components/Setup/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: use image.tmdb.org for setup/login backdrop images (#2966)
  src/components/Login/index.tsx
  src/components/Setup/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: use fallbackData to prepare user data during SSR
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: use fallbackData to prepare user data during SSR (#2968)
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

ci: unpin QEMU version
  .github/workflows/snap.yaml
Owners: @samwiseg0

feat: improved user dropdown
  src/assets/infinity.svg
  src/components/Layout/UserDropdown/MiniQuotaDisplay/index.tsx
  src/components/Layout/UserDropdown/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: pr suggestions
  src/components/Layout/UserDropdown/MiniQuotaDisplay/index.tsx
  src/components/Layout/UserDropdown/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

chore: add typing to tailwind config
  tailwind.config.js
Owners: @sct, @TheCatLady, @danshilm

fix: add truncating to name/email. remove suspense for now
  src/components/Layout/UserDropdown/MiniQuotaDisplay/index.tsx
  src/components/Layout/UserDropdown/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: improved user dropdown (#2969)
  src/assets/infinity.svg
  src/components/Layout/UserDropdown/MiniQuotaDisplay/index.tsx
  src/components/Layout/UserDropdown/index.tsx
  src/i18n/locale/en.json
  tailwind.config.js
Owners: @sct, @TheCatLady, @danshilm

feat: add season details to series media page
  package.json
  src/components/AirDateBadge/index.tsx
  src/components/Common/Badge/index.tsx
  src/components/TvDetails/Season/index.tsx
  src/components/TvDetails/index.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

feat: add all statuses to season list
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

test: add cypress tests
  cypress/e2e/tv-details.cy.ts
  cypress/support/commands.ts
  cypress/support/index.ts
Owners: @sct, @TheCatLady, @danshilm

test: update tests to use loginAsAdmin/loginAsUser commands
  cypress/e2e/discover.cy.ts
  cypress/e2e/login.cy.ts
  cypress/e2e/movie-details.cy.ts
  cypress/e2e/settings/general-settings.cy.ts
  cypress/e2e/user/auto-request-settings.cy.ts
  cypress/e2e/user/profile.cy.ts
  cypress/e2e/user/user-list.cy.ts
Owners: @sct, @TheCatLady, @danshilm

feat: add i18n strings for season list
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: remove unused strings
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: pr suggestions
  src/components/AirDateBadge/index.tsx
  src/components/TvDetails/Season/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: dont show duplicate badges
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct padding on episodes
  src/components/TvDetails/Season/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: season/episode list on series details (#2967)
  cypress/e2e/discover.cy.ts
  cypress/e2e/login.cy.ts
  cypress/e2e/movie-details.cy.ts
  cypress/e2e/settings/general-settings.cy.ts
  cypress/e2e/tv-details.cy.ts
  cypress/e2e/user/auto-request-settings.cy.ts
  cypress/e2e/user/profile.cy.ts
  cypress/e2e/user/user-list.cy.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package.json
  src/components/AirDateBadge/index.tsx
  src/components/Common/Badge/index.tsx
  src/components/TvDetails/Season/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

feat(frontend): a few more tooltips
  src/components/Common/Badge/index.tsx
  src/components/ExternalLinkBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestBlock/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

feat: add tooltips to status badges
  src/components/StatusBadge/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat(frontend): a few more tooltips (#2972)
  src/components/Common/Badge/index.tsx
  src/components/ExternalLinkBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestBlock/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/Settings/SettingsMain.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm
