Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm

docs(installation): clarify hint about named volumes for windows installation example
  docs/getting-started/installation.md
Owners: @TheCatLady, @samwiseg0, @danshilm

docs(installation): add PORT env variable to Docker CLI & Docker Compose examples
  docs/getting-started/installation.md
Owners: @TheCatLady, @samwiseg0, @danshilm

docs(installation): fix typo
  docs/getting-started/installation.md
Owners: @TheCatLady, @samwiseg0, @danshilm

docs(installation): add PORT env variable to example commands (#3254) [skip ci]
  docs/getting-started/installation.md
Owners: @TheCatLady, @samwiseg0, @danshilm

feat: added up and down arrows to move slider position
  src/components/Discover/DiscoverSliderEdit/index.tsx
  src/components/Discover/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: positionUpdate works for both movers
  src/components/Discover/DiscoverSliderEdit/index.tsx
  src/components/Discover/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: corrected icon location on mobile
  src/components/Discover/DiscoverSliderEdit/index.tsx
  src/components/Discover/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat: discover slider edit arrow buttons for reordering (#3259)
  src/components/Discover/DiscoverSliderEdit/index.tsx
  src/components/Discover/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: arrow icons were misplaced on mobile in slider edit
  src/components/Discover/DiscoverSliderEdit/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: arrow icons were misplaced on mobile in slider edit (#3260)
  src/components/Discover/DiscoverSliderEdit/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: issues with issues
  server/routes/issue.ts
  server/subscriber/IssueCommentSubscriber.ts
  src/components/IssueDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: don't notify on user closing/reopening own issue
  server/subscriber/IssueSubscriber.ts
Owners: @sct, @TheCatLady, @danshilm

fix: only show close/reopen buttons for OP and admins
  src/components/IssueDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: issues with issues (#3267)
  server/routes/issue.ts
  server/subscriber/IssueCommentSubscriber.ts
  server/subscriber/IssueSubscriber.ts
  src/components/IssueDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct issue detail bottom padding on mobile displays
  src/components/IssueDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct issue detail bottom padding on mobile displays (#3268)
  src/components/IssueDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: create shared class to add bottom spacing
  src/components/IssueDetails/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/TvDetails/index.tsx
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

fix: create shared class to add bottom spacing (#3269)
  src/components/IssueDetails/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/TvDetails/index.tsx
  src/styles/globals.css
Owners: @sct, @TheCatLady, @danshilm

Notes added by 'git notes add'
  f976d7c54d6d0527cdf20744493442b9f02d4306
Owners: @sct, @TheCatLady, @danshilm

chore(release): 1.32.0
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  acfaf7eb4509e885c1662289682ee84cb52a26ff
Owners: @sct, @TheCatLady, @danshilm

fix: correctly check mobile menu permissions
  src/components/Layout/MobileMenu/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correctly check mobile menu permissions (#3271)
  src/components/Layout/MobileMenu/index.tsx
Owners: @sct, @TheCatLady, @danshilm

chore(release): 1.32.1
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  4b43747bcc1b567bb57191c5ac0542bba2601ab8
Owners: @sct, @TheCatLady, @danshilm

fix: multiple genre filtering now works
  overseerr-api.yml
  server/api/themoviedb/index.ts
  server/routes/discover.ts
Owners: @sct, @TheCatLady, @danshilm

fix: multiple genre filtering now works (#3282)
  overseerr-api.yml
  server/api/themoviedb/index.ts
  server/routes/discover.ts
Owners: @sct, @TheCatLady, @danshilm

deploy: 507693881b939819413f0959df5ef6b7a357eb5c
  overseerr-api.yml
Owners: @sct, @TheCatLady, @danshilm

fix: series first air date filtering
  src/components/Discover/DiscoverTv/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(ui): series first air date sorting (#3283)
  src/components/Discover/DiscoverTv/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(build): use correct environment variable for output
  .github/workflows/ci.yml
Owners: @sct, @TheCatLady, @danshilm

refactor(build): replace deprecated set-output command in GHA
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/snap.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

style(build): run prettier
  .github/workflows/ci.yml
  .github/workflows/preview.yml
Owners: @sct, @TheCatLady, @danshilm

fix(build): use env variable to login with snapcraft 7
  .github/workflows/release.yml
  .github/workflows/snap.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

fix(build): update usage of publish snap action (#3272)
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/snap.yaml
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0

Docker healthcheck
  Dockerfile
Owners: @sct, @TheCatLady, @danshilm

fix: recently added items are correctly found and updated to reflect status
  server/api/plexapi.ts
  server/lib/scanners/plex/index.ts
Owners: @sct, @TheCatLady, @danshilm

chore(release): 1.32.2
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  fe5e7cbf4be150f7c82a703e4efd1de68b9105c1
Owners: @sct, @TheCatLady, @danshilm

fix: pass in library type when scanning recently added items (#3287)
  server/api/plexapi.ts
  server/lib/scanners/plex/index.ts
Owners: @sct, @TheCatLady, @danshilm
