Repository sct/overseerr, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sct, @TheCatLady, @danshilm, @samwiseg0

.github/CODEOWNERS:

# Global code ownership
*                               @sct @TheCatLady @danshilm

# Documentation
/.all-contributorsrc            @TheCatLady @samwiseg0 @danshilm
/*.md                           @TheCatLady @samwiseg0 @danshilm
/docs/                          @TheCatLady @samwiseg0 @danshilm

# Snap-related files
/.github/workflows/snap.yaml    @samwiseg0
/snap/                          @samwiseg0

# i18n locale files
/src/i18n/locale/               @sct @TheCatLady
/src/i18n/locale/en.json        @sct @TheCatLady @danshilm

Updated docker volumes from /app/config to /config
  docs/getting-started/installation.md
Owners: @TheCatLady, @samwiseg0, @danshilm

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Owners: @sct, @TheCatLady, @danshilm

fix(api): handle auth for accounts where the plex id may have been set to null
  server/entity/User.ts
  server/routes/auth.ts
Owners: @sct, @TheCatLady, @danshilm

fix(api): handle auth for accounts where the plex id may have been set to null (#3125)
  server/entity/User.ts
  server/routes/auth.ts
Owners: @sct, @TheCatLady, @danshilm

chore(docs): fix typo in fail2ban article
  docs/extending-overseerr/fail2ban.md
Owners: @TheCatLady, @samwiseg0, @danshilm

refactor: testing a commit
  .all-contributorsrc
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/cypress.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .github/workflows/support.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  Dockerfile.local
  cypress/support/e2e.ts
  docs/README.md
  docs/support/faq.md
  docs/support/need-help.md
  docs/using-overseerr/notifications/README.md
  docs/using-overseerr/notifications/pushover.md
  package-lock.json
  package.json
  server/api/github.ts
  server/index.ts
  snap/snapcraft.yaml
  src/components/Settings/SettingsAbout/Releases/index.tsx
  src/components/Settings/SettingsAbout/index.tsx
  yarn.lock
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

chore(docs): fix typo in fail2ban article (#3139) [skip ci]
  docs/extending-overseerr/fail2ban.md
Owners: @TheCatLady, @samwiseg0, @danshilm

feat: add availability synchronization job
  server/api/servarr/sonarr.ts
  server/job/schedule.ts
  server/lib/availabilitySync.ts
  server/lib/settings.ts
  src/components/Settings/SettingsJobsCache/index.tsx
  src/i18n/locale/en.json
  src/i18n/locale/nl.json
Owners: @sct, @TheCatLady, @danshilm

fix: feedback on PR
  server/job/schedule.ts
  server/lib/availabilitySync.ts
  src/components/Settings/SettingsJobsCache/index.tsx
  src/i18n/locale/en.json
  src/i18n/locale/nl.json
Owners: @sct, @TheCatLady, @danshilm

perf: use pagination for Media Availability Synchronization job
  server/job/schedule.ts
  server/lib/availabilitySync.ts
  src/components/Settings/SettingsJobsCache/index.tsx
Owners: @sct, @TheCatLady, @danshilm

chore(release): 1.31.0
  CHANGELOG.md
  package.json
Owners: @TheCatLady, @samwiseg0, @danshilm, @sct

Notes added by 'git notes add'
  dd5d2698a682d55164ede92109ee568ec4256604
Owners: @sct, @TheCatLady, @danshilm

feat(media): add isBlacklistedFromRequest boolean
  server/entity/Media.ts
  server/migration/1671300783509-AddMediaBlacklistedFromRequest.ts
Owners: @sct, @TheCatLady, @danshilm

feat: add media blacklist in delete request route
  overseerr-api.yml
  server/routes/request.ts
Owners: @sct, @TheCatLady, @danshilm

feat: before insert request declined if blacklist
  server/entity/MediaRequest.ts
Owners: @sct, @TheCatLady, @danshilm

feat(frontend): add delete request modal
  src/components/RequestList/RequestItem/DeleteModal.tsx
  src/components/RequestList/RequestItem/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix(experimental): use new RT API (sorta)
  server/api/externalapi.ts
  server/api/rottentomatoes.ts
Owners: @sct, @TheCatLady, @danshilm

fix(experimental): use new RT API (sorta) (#3179)
  server/api/externalapi.ts
  server/api/rottentomatoes.ts
Owners: @sct, @TheCatLady, @danshilm

feat: progress bar on status badge
  server/api/servarr/base.ts
  server/lib/downloadtracker.ts
  src/components/CollectionDetails/index.tsx
  src/components/Common/Tooltip/index.tsx
  src/components/DownloadBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: non 4k data is now being passed correctly
  server/lib/downloadtracker.ts
  src/components/CollectionDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: correct title will show on tooltip if admin
  server/lib/downloadtracker.ts
  src/components/CollectionDetails/index.tsx
  src/components/DownloadBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: episode is now optional on base servarr
  server/api/servarr/base.ts
  server/lib/downloadtracker.ts
  src/components/CollectionDetails/index.tsx
  src/components/DownloadBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: episodes tooltip will be scrollable and show episodes in progress
  server/api/servarr/base.ts
  src/components/CollectionDetails/index.tsx
  src/components/Common/Tooltip/index.tsx
  src/components/DownloadBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

refactor: added JSX to reduce repeated code
  server/api/servarr/base.ts
  server/api/servarr/sonarr.ts
  server/lib/downloadtracker.ts
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

feat(ui): request card progress bar (#3123)
  server/api/servarr/base.ts
  server/api/servarr/sonarr.ts
  server/lib/downloadtracker.ts
  src/components/CollectionDetails/index.tsx
  src/components/Common/Tooltip/index.tsx
  src/components/DownloadBlock/index.tsx
  src/components/MovieDetails/index.tsx
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/components/TvDetails/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: changed overflow scroll to only if necessary
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: changed overflow scroll to only if necessary (#3184)
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: tooltip shows properly if not in progress
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: tooltip shows properly if not in progress (#3185)
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: added download status and title to request card/item error components
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

fix: added download status and title to request card/item error components (#3186)
  src/components/RequestCard/index.tsx
  src/components/RequestList/RequestItem/index.tsx
  src/components/StatusBadge/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

refactor: rework login page
  src/components/Login/LocalLogin.tsx
  src/components/Login/PlexLogin/index.tsx
  src/components/Login/index.tsx
  src/i18n/locale/en.json
Owners: @sct, @TheCatLady, @danshilm

feat: add divider between buttons and form on login page
  package.json
  src/components/Common/Accordion/index.tsx
  src/components/Login/LocalLogin.tsx
  src/components/Login/index.tsx
  yarn.lock
Owners: @sct, @TheCatLady, @danshilm

test: fix login test
  cypress/support/commands.ts
  src/components/Login/LocalLogin.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: adding new checks for plex connection/disconnection in user settings
  server/routes/auth.ts
  src/components/Common/Tooltip/index.tsx
  src/components/PlexLoginButton/index.tsx
  src/components/UserProfile/UserSettings/UserGeneralSettings/index.tsx
  src/pages/_app.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: update mini status icons on titlecard to match badge colors
  src/components/TitleCard/index.tsx
Owners: @sct, @TheCatLady, @danshilm

refactor: update mini status icons on titlecard to match badge colors (#3188)
  src/components/TitleCard/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: added bg opacity because i forgot
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

fix: add bg-opacity to in-progress status badges (#3190)
  src/components/StatusBadge/index.tsx
Owners: @sct, @TheCatLady, @danshilm

chore: update to use github codeql
  .github/workflows/codeql.yml
  README.md
Owners: @sct, @TheCatLady, @danshilm, @samwiseg0
